<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<div th:replace="fragments/header :: header-css"/>-->
</head>
<body>

<!--<div th:replace="fragments/header :: header"/>-->

<div class="container">

    <div class="starter-template">
        <h1>403 - Доступ запрещен</h1>
        <div th:inline="text">Пользователь '[[${#httpServletRequest.remoteUser}]]',
            не имеет доступа к этой странице.</div>
    </div>

</div>
<!-- /.container -->

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>