<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

</head>
<body>

    <ul th:fragment="header" background-color: salmon;>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />-->
        <h4 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h4>
        <a th:if="${#httpServletRequest.remoteUser}" th:href="@{/logout}">Sign Out</a>
        <a th:if="!${#httpServletRequest.remoteUser}" th:href="@{/login}">Sign In</a>
        <!--<li sec:authorize="hasRole('ROLE_ADMIN')">Admin</li>-->
        <!--<li sec:authorize="hasRole('ROLE_USER')">User</li>-->
        <!--<span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |-->
            <!--Roles: <span sec:authentication="principal.authorities"></span> |-->
            <!--<a th:href="@{/logout}">Sign Out</a>-->
        <!--</span>-->

        <li><a th:href="@{/}">Домашняя</a></li>
        <li><a th:href="@{/persons}">Сотрудники</a></li>
        <li><a th:href="@{/positions}">Справочник должностей</a></li>
        <li><a th:href="@{/stages}">Справочник этапов</a></li>

        <li><a th:href="@{/clients}">Клиенты</a></li>
        <li><a th:href="@{/orders}">Заказы</a></li>
        <li><a th:href="@{/dishes}">Блюда</a></li>



    </ul>

</body>
</html>