<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>

    <div th:insert="~{fragments :: header}"></div>

    <table>
        <thead>
        <tr>
            <th> firstName </th>
            <th> middleName </th>
            <th> lastName </th>
            <th> birthDate </th>
            <th> gender </th>
            <th> position </th>
            <th> emplDate </th>
            <th> dismDate </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${persons.empty}">
            <td colspan="2"> No Persons Available </td>
        </tr>
        <tr th:each="person : ${persons}">
            <td><span th:text="${person.firstName}"> firstName </span></td>
            <td><span th:text="${person.middleName}"> middleName </span></td>
            <td><span th:text="${person.lastName}"> lastName </span></td>
            <td><span th:text="${#temporals.format(person.birthDate, 'dd.MM.yyyy')}"> birthDate </span></td>
            <td><span th:if="${person.gender}" th:text="${person.gender.name}"> gender.name </span><span th:unless="${person.gender}"> - </span></td>
            <td><span th:if="${person.position}" th:text="${person.position.name}"> position.name </span><span th:unless="${person.position}"> - </span></td>
            <td><span th:text="${#temporals.format(person.emplDate, 'dd.MM.yyyy')}"> emplDate </span></td>
            <td><span th:text="${#temporals.format(person.dismDate, 'dd.MM.yyyy')}"> dismDate </span></td>
            <td><a href="persons/edit">edit</a></td>
            <td><a href="persons/delete">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a href="persons/create">Create person</a>


</body>
</html>