<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:insert="~{fragments :: header}"></div>
    <form action="#" th:action="@{/persons/save}" th:object="${person}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <input type="hidden" th:field="*{id}"/>
            <table>
                <thead>
                <tr>
                    <th> firstName </th>
                    <th> middleName </th>
                    <th> lastName </th>
                    <th> birthDate </th>
                    <th> gender </th>
                    <th> position </th>
                    <th> emplDate </th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td><input th:field="*{firstName}"/></td>
                    <td><input th:field="*{middleName}"/></td>
                    <td><input th:field="*{lastName}"/></td>
                    <td><input type="date" th:field="*{birthDate}"/></td>
                    <td>
                        <select th:field="*{gender}">
                            <option value=""> -- </option>
                            <option th:each="entry : ${mapGenders.entrySet()}"
                                    th:value="${entry.key}"
                                    th:utext="${entry.value}">
                            </option>
                        </select>
                    </td>
                    <!--<td><input th:field="*{persons[__${itemStat.index}__].gender.id}"/></td>-->
                    <td>
                        <select th:field="*{position}">
                            <option value=""> -- </option>
                            <option th:each="entry : ${mapPositions.entrySet()}"
                                    th:value="${entry.key}"
                                    th:utext="${entry.value}">
                            </option>
                        </select>
                    </td>
                    <!--<td><input th:field="*{persons[__${itemStat.index}__].position.id}"/></td>-->
                    <td><input type="date" th:field="*{emplDate}"/></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>


</body>
</html>