<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>

    <div th:insert="~{fragments :: header}"></div>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th> Имя </th>
            <th> Отчество </th>
            <th> Фамилия </th>
            <th> Дата рождения </th>
            <th> Пол </th>
            <th> Должность </th>
            <th> Дата приема </th>
            <th> Дата увольнения </th>
            <th th:if="${#request.isUserInRole('ROLE_ADMIN')}"> Логин </th>
            <th th:if="${#request.isUserInRole('ROLE_ADMIN')}"> Пароль </th>
            <th th:if="${#request.isUserInRole('ROLE_ADMIN')}"> Роль </th>
            <th th:if="${#request.isUserInRole('ROLE_ADMIN')}"> Редактировать </th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${persons.empty}">
            <td colspan="2"> Сотрудников не найдено </td>
        </tr>
        <tr th:each="person : ${persons}">
            <td><span th:text="${person.firstName}"> firstName </span></td>
            <td><span th:text="${person.middleName}"> middleName </span></td>
            <td><span th:text="${person.lastName}"> lastName </span></td>
            <td><span th:text="${#temporals.format(person.birthDate, 'dd.MM.yyyy')}"> birthDate </span></td>
            <td><span th:if="${person.gender}" th:text="${person.gender.name}"> gender.name </span><span th:unless="${person.gender}"> - </span></td>
            <td><span th:if="${person.position}" th:text="${person.position.name}"> position.name </span><span th:unless="${person.position}"> - </span></td>
            <td><span th:text="${#temporals.format(person.emplDate, 'dd.MM.yyyy')}"> emplDate </span></td>
            <td><span th:text="${#temporals.format(person.dismDate, 'dd.MM.yyyy')}"> dismDate </span></td>
            <td th:if="${#request.isUserInRole('ADMIN')}"><span th:text="${person.login}"> login </span></td>
            <td th:if="${#request.isUserInRole('ADMIN')}"><span th:text="${person.password}"> password </span></td>
            <td th:if="${#request.isUserInRole('ADMIN')}"><span th:text="${person.role}"> role </span></td>
            <td th:if="${#request.isUserInRole('ADMIN')}"><a th:href="@{'persons/edit/' + ${person.id}}" class="btn btn-primary btn-xs">edit</a></td>
        </tr>
        </tbody>
    </table>
    <a href="persons/create" class="btn btn-info">Добавить сотрудника</a>


</body>
</html>